<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Third</title>
    </head>
    <body>
        <div>
            <form action="/third" method="post">
                 <label>Enter the index of card</label>
                 <input type="text" id="index" name="index"><br>
                 <button type="submit">index</button><br>
                 <button type="submit" id="pop" name="pop">Pop</button><br>
                 <button type="submit" id="shuffle" name="shuffle">Shuffle</button><br>
                 <button type="submit" id="get_random" name="get_random">Random</button>
            </form>
        </div>
<br><br>{{content}}
</body>
</html>